* {
  box-sizing: border-box;
}

:root {
  --color-light-breeze: #008cffc4;
  --color-lighter-breeze: #99cfffa5;
  --color-light-sun: #faf690d2;
  --color-healthy-shrimp: #fa6675;
  --color-green-gray: #4f4f4f;
}

@font-face {
  font-family: 'Playfair';
  src: local('Playfair'),
    url('/fonts/PlayfairDisplay-VariableFont.woffw') format('woff1'),
    url('/fonts/PlayfairDisplay-VariableFont.woff') format('woff2');
}
