* {
  box-sizing: border-box;
}

:root {
  --color-light-breeze: #4dc0fa;
  --color-lighter-breeze: #9cdeff;
  --color-light-sun: #faf690;
  --color-healthy-shrimp: #fa6675;
}

@font-face {
  font-family: 'Playfair';
  src: local('Playfair'),
    /* Get the user's local font if it exists */
      url('/fonts/PlayfairDisplay-VariableFont.woffw') format('woff1'),
    url('/fonts/PlayfairDisplay-VariableFont.woff') format('woff2');
}
