body {
  margin: 0 auto;
  padding: 0 1% 0 1%;
  background-color: bisque;
  background-image: url('./images/10\ 1\ Koster\ .jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
}

header {
  display: flex;
  justify-content: center;
}
nav {
  top: 0px;
}

main {
  width: 100%;
  column-gap: 10px;
  border-radius: 10px;
}

.calendar-wrapper {
  display: grid;
  background-color: var(--color-light-breeze);
  border-radius: 5px;
  padding: 20px;
}

section {
  background-color: var(--color-lighter-breeze);
  grid-row: 2;
  border-radius: 5px;
}

form {
  font-family: sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

button {
  border: none;
  box-shadow: 4px 6px darkred;
  background-color: var(--color-healthy-shrimp);
  color: white;
  height: 40px;
  width: 120px;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 5px;
  transition: ease-in-out 0.2s;
  margin: 10px;
}
button:active {
  border: 4px black;
  transition: ease 0.3s;
  box-shadow: none;
}
button:hover {
  transition: ease-in-out 0.2s;
  box-shadow: none;
}

select {
  background-color: white;
  border: 1px solid black;
}

h1 {
  font-family: 'Playfair', Georgia, 'Times New Roman', Times, serif;
  word-spacing: 5px;
  font-weight: bold;
  font-size: 30px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 0;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  margin-left: 20px;
}

.visible {
  display: inline;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 20px;
}

.rooms {
  display: none;
}

.calendar-wrapper img {
  grid-column: 2;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 0;
  grid-row: 1;
}

.calendar {
  height: 80%;
}

nav {
  background-color: rgba(240, 255, 255, 0.202);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.roomSelect,
.form-input.arrival,
.form-input.departure {
  margin: 5px;
}
